* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

// Alethia Pro Font
@font-face {
  font-family: alethiaProFont;
  src: url('../fonts/alethia-pro/alethiapro-regular.otf');
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  // background-color: red;
  width: 100%;
  overflow-x: hidden;

}

.uppercase-text {
  text-transform: uppercase;
}

// HEADER 

.header {
  width: 100vw;
  height: 100vh;
  background: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 10vh;


  .header-content__container {
    position: relative;
    color: #FFFFFF;
    margin: 0 0 4rem 4rem;
    padding: 3rem 0rem 3rem 2rem;
    background: rgba(7, 28, 53, 0.5);
    backdrop-filter: blur(7.5px);
    height: auto;
    width: 31rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 2rem;

    h1,
    h2,
    h3 {
      font-family: alethiaProFont;
    }

    h1 {
      font-weight: 400;
      font-size: 3rem;
      position: relative;
      padding-bottom: 1.5rem;
    }

    h1::after {
      content: '';
      position: absolute;
      top: 4.5rem;
      left: .2rem;
      height: 1px;
      width: 7.7rem;
      background-color: #FFFFFF;
      // border-bottom: 1px solid white;
    }

    h2 {
      font-weight: 300;
      line-height: 3rem;
    }

    .header-content__info {
      display: grid;
      grid-template-columns: 18% 25% 35%;
      gap: 2rem;

      h3 {
        font-size: 1.6rem;
        font-weight: 400;
      }

      p {
        font-size: 1.4rem;
        font-weight: 300;
      }
    }

    .header-content__see-project {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;

      p {
        font-size: 1.4rem;
      }

      &>div {
        // display: flex;
        // align-items: center;

        img {
          height: .5rem;
          margin-bottom: .2rem;
        }
      }
    }
  }
}

// BODY

.body-container {
  padding: 10vh 5vw;
}

// Available homes
.available-homes {
  display: grid;
  grid-template-columns: 40% 55%;
  gap: 5%;

  &__picture {
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem 0;

    .available-homes__header {
      font-family: alethiaProFont, sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      /* or 53px */

      text-transform: uppercase;
      color: #071C35;
    }

    .available-homes__paragraph {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */

      color: #777777;
    }

    .chart__container {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      .chart__items {

        .chart__header {
          font-family: alethiaProFont, sans-serif;
          font-style: normal;
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 44px;
          /* identical to box height */


          color: #071C35;
        }

        .chart__paragraph {
          font-weight: 300;
          // font-size: 1.6rem;
          line-height: 19px;
          text-transform: uppercase;

          color: #777777;

        }
      }
    }

    .available-homes__btn-container {
      width: 100%;

      button {
        background: #071C35;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        // line-height: 19px;
        text-transform: uppercase;
        width: 25%;
        height: 2.5rem;
      }
    }

  }
}

// Top projects

.top-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;

  &__header {
    font-family: alethiaProFont, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 3rem;
    color: #071C35;

  }

  &__grid-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 3rem;
    justify-content: center;

    .top-projects__items {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column;

      img {
        width: 100%;
        height: auto;
      }

      .top-projects__grid-content {
        width: 100%;
        height: auto;
        background: #edede8;
        backdrop-filter: blur(7.5px);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 1rem;

        .top-projects__grid-header {
          font-family: alethiaProFont, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 2rem;
          line-height: 25px;
          /* identical to box height */

          text-transform: uppercase;

          color: #071C35;
        }

        .top-projects__grid-paragraph {
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          line-height: 19px;
          text-transform: uppercase;
          color: #071C35;

          .top-projects__currency {
            font-size: 1.3rem;
          }
          
        }
      }
    }
  }
}